@import url('https://fonts.googleapis.com/css2?family=Allison&family=Rubik&display=swap');


*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Rubik', sans-serif;
}
.section-1{
	background-color: lightblue;
	padding: 40px;
}
.container{
	background-color: #f1f1f1;
	padding: 20px;
}
.baba{
	width: 100%;
	display: flex;
	justify-content: space-between;
	
	margin-bottom: 20px;
	
}
.chele{
	width: 24%;
	
}
.chele img{
	width: 100%;
	height: auto;
}
.chele h4{
	color: green;
	font-family: 'Allison', cursive;
	font-size: 24px;

}


.about-us{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #f5f6fa;
	color: #aaa;
	padding: 20px;
	margin-top: 20px;
}
.about-image{
	width: 30%;
	
}
.about-image img{
	width: 100%;
	
	display: block;
}
.about-image h3{
	font-family: 'Allison', cursive;
	font-size: 35px;
	color: green;
}
.about-text{
	width: 65%;
}
.about-text h2{
	font-size: 30px;
	margin-bottom: 15px;

}

.about-text h2 span{
	color: orange;
}
.about-text p{
	line-height: 1.3em;
	font-size: 17px;
	margin-bottom: 15px;
}
.about-text a{
	text-decoration: none;
	background-color:orange ;
	color: white;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	display: inline-block;
	margin-top: 10px;

}