.banner{
	background-image: url(images/moon-31665.png);
	padding: 270px 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.banner h1{
	color: #fff;
	text-align: center;
}