@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Satisfy&display=swap');


*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #000;
}

.container{
	background-color: #fff;
	width: 90%;
	margin: 0 auto;
	padding: 20px;
}
.baba{
	background-color: #40739e;
	width: 100%;
	display: flex;
	justify-content: space-between;
	color: #fff;
	margin-bottom: 20px;
}
.chele{
	width: 24%;
}
.chele img{
	width: 100%;
	display: block;
}
.chele h2{
	font-family: 'satisfy', cursive;
}

.about-us{
	background-color: #7f8fa6;
	color: #fff;
	display: flex;
	justify-content: space-between;
}

.about-image{
	width: 25%;
}
.about-image img{
	display: block;
	width: 100%;
}
.about-image h4{
	font-family: 'satisfy', cursive;
	font-size: 20px;
}


.about-text{
	width: 72%;
}

.about-text h3{
	font-size: 35px;
	margin-bottom: 10px;
	font-style: italic;
}

.about-text h3 span{
	color: orange;
	
}
.about-text p{
	font-size: 18px;
	line-height: 1.50em;
	margin-bottom: 20px
}
.about-text a{

	text-decoration: none;
	font-size: 20px;
	padding: 10px 7px;
	background-color: orange;
	color: #fff;
	margin-top: 15px;
	display:inline-block;

}